@import "tailwindcss";

@font-face {
    font-family: 'Gallery Modern';
    src: url('../assets/fonts/gallery-modern/gallery.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-primary: #BFF747;
    --color-offwhite: #F9F2EB;
    --color-border: #D8DDE1;
    --color-black: #121212;
    --color-gray: #2A2A2A;
    --color-text-secondary: #797E88;

    --font-primary: "DM Sans", sans-serif;
    --font-title: "Marcellus", serif;
    --font-secondary: "Gallery Modern", sans-serif;

    --text-7-5: 1.875rem;

    --radius-big: 3.125rem;

    --spacing-6-5: 1.625rem;
    --spacing-7-5: 1.875rem;
    --spacing-15: 3.75rem;
    --spacing-30: 7.5rem;
}

body {
    @apply bg-offwhite text-black text-base leading-6 font-primary;
}

button {
    @apply cursor-pointer;
}